<ion-content>
  <div class="container">

    <img src="../../../assets/logo.png" class="logo" />

    <div class="titulo">
      <h1 class="titulo-texto">Carga de crédito</h1>
    </div>

    <div class="noFoto">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item class="items">
          <ion-label position="floating" style="color: black">Dirección de Correo</ion-label>
          <ion-input style="color: #000" type="email" name="email" required formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="items">
          <ion-label position="floating">
            <ion-text style="color: black">Contraseña</ion-text>
          </ion-label>
          <ion-input style="color: black" formControlName="password" name="clave" type="password" required></ion-input>
        </ion-item>

        <ion-button class="botones" expand="block" type="submit">
          <ion-text style="font-size: 20px; font-weight: bold;"> Iniciar sesión </ion-text>
        </ion-button>
      </form>

      <div class="containerButtons">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="4">
              <button class="ionButton" (click)="autocompletarUsuario('A')">Admin</button>
            </ion-col>
            <ion-col size="4">
              <button class="ionButton" (click)="autocompletarUsuario('B')">
                Invitado
              </button>
            </ion-col>
            <ion-col size="4">
              <button class="ionButton" (click)="autocompletarUsuario('C')">
                Usuario
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>


  </div>
</ion-content>